@import '~bootstrap/scss/bootstrap.scss';
@import '../../styles/global.scss';



/* 第一區開始，進入頁面第一區的畫面 */
/* 右邊的svg */
/* 輪播牆 */
/* 輪播牆上的文章標題 */
/* 文章標題 */
/* 第一區結束 */
/* 第二區開始 */
/* 最新文章的按鈕 */
/* 最新文章字 */
/* 最新文章下面標語 */
/* 標語下面的紅色線條 */
/* 文章標題 */
/* 作者及日期 */
/* 看更多svg（第二區及第三區） */
/* 第二區結束 */
/* 第三區分類文章開始 */
.first-section {
	width: 100%;
	height: 500px;
	position: relative;
}
.bg-icon-1 {
	img {
		width: 800px;
		position: absolute;
		margin: 250px 0 0 0;
		z-index: -1;
	}
}
.carousel {
	width: 72.3%;
	float: left;
}
.title {
	width: 600px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 10%;
	left: 70%;
	h3 {
		line-height: 2;
	}
}
.new {
	width: fit-content;
	margin-top: 230px;
	margin-left: auto;
	margin-right: auto;
	h3 {
		letter-spacing: 2px;
		text-align: center;
		// padding-bottom: 40px;
	}
	small {
		letter-spacing: 1px;
	}
}
.line {
	margin:auto;
	margin-bottom: 50px;
	width:400px;
}
.card-body {
	h5 {
		line-height: 1.5;
	}
}
.author-date-index {
	justify-content: space-between;
	vertical-align: text-bottom;
}
.more {
	width:300px;
	margin-left:auto;
}
.category {
	width: fit-content;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	h6 {
		// background-image: url(./bg-svg/btn-click.svg);
		box-shadow: 3px 3px 5px 3px lightgray;
		box-shadow: -3px -3px 5px 3px white;
		border-radius: 20px;
		margin: 30px;
		padding: 10px 30px;
		letter-spacing: 1px;
	}
}
